<section class="author">
			<header>
				<h2>Author</h2>
			</header>
			<div class="roles">
					 {{ partial "rex-modal/role.html" . }}
					 {{ partial "rex-modal/role.html" . }}
					 {{ partial "rex-modal/role.html" . }}
					 {{ partial "rex-modal/role.html" . }}
					 {{ partial "rex-modal/role.html" . }}
					 {{ partial "rex-modal/role.html" . }}
					 {{ partial "rex-modal/role.html" . }}
					 {{ partial "rex-modal/role.html" . }}
					 {{ partial "rex-modal/role.html" . }}
					 {{ partial "rex-modal/role.html" . }}
					 {{ partial "rex-modal/role.html" . }}
					 {{ partial "rex-modal/role.html" . }}
					 {{ partial "rex-modal/role.html" . }}
					 {{ partial "rex-modal/role.html" . }}
				</div>
			</div>
		</section>