@include font-face(Space Grotesk, 
	$path: "../fonts/", 
	$file: SpaceGrotesk-Light
	);

@include font-face(Space Grotesk, 
	$path: "../fonts/", 
	$file: SpaceGrotesk-Regular, 
	$weight: bold
	);

body {
	font-family: Space Grotesk;
	background-color: $color-bg;
	color: $color-fg;
	padding: 0;
	margin: 0;
	@include transition;
	font-size: 110%;
}





