kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkOOOOOOOOOOO000000000OO0O00OOOOOOOO0000000000000OO00000000000000OOO000
kkkkkkkkkkkkkkkkkkkkkkkkkkOOkkOOOOOOOOOOOOOOOOOOO00OOOOOkxddxxxkkO0OOO00000000OO000000000000000OO000
kkkkkkkkkkkkkkkkkkkkkkkkOkOOkkOOOOOOOOOOOOOOO0000OOkkkxdolloooolodoodxk0000000OO000000000000000OO000
kkkkkkkkkkkkkkkkkkkkkkkkOkOkkkkkkOOOOOOOOOOOOOOOkxdolllcccccc:cccccllodkO00000OO00000000000000OOO000
kkkkkkkkkkkkkkkkkkkkkkkkkkOOkkkOOOOOOOOkxkOOkxxolllc::cc:::::;:cccccccllloxO000000000000000000OOOOOO
kkkkkkkkkkkkkkkkkkkkkkOOOOOOkkOOOOOOOOOkxkkxdolc::::::::::::::;:cc::c:::::cdkO0000000OOOOOOOOOOOOOOO
kkkkkkkkkkkkkkkkkkkkkkOOOOOOOOOOOOOOOOOkddolcccccccc:,;;;;;;;;;;;::;::::::cldkOOO0OOOOOOO0OOOOOO0OOO
kkkkkkkkkkOOkkkkkkkkkkkOOOOOOOOOOOOOOOOkoc:ccc::c:;::;;;;;;:::::;;;;;;;;;::codO000000000000000OO0OOO
kkkOkkkkkkOOkkkkkkOOOOOOO0000OOOOOOOOOkoc::ccc:::::::::::cccccccc::::::;;,;:clk000000000000O00OO0OOO
kkOOkkkkkkOOkOOkkkOO0K0000000OOO00kddxo:::::cc::::::ccccccccccccccc::::::;;;:ldO00000000000O00OO0OOO
kOOO00OOOOOOOOOkkkOkkOOOOOOOOO000Okoccc:;;;;:cccccccccccccccccccccc:::::::;:ccldO000000000000OOO0OOO
OOOkOOOOkOkkOkkkkkkkkkOOkkkkOOOOOOkxolc;;::::ccccc:::cccccccccc::::::::::::ccccok000000000000OOOOOOO
kkkOOkkkkkkOkkkkkxkkkkkkkkkkkOkOkkOxlllc:c::::cccccccccccccclllccc::::::::;:cccok000000OOOOO0OOOOOOO
xkxkkxxxxkkkkxxkkxkkkkkkkkkkkkkkkkOxolc::;;;:::::cccccccccccc::;;;;;;;;:::;:::coO0OOOOOOOOOOOkkOkkkk
xkxxkxxxxxxkkxxkkkkkkkkkkkkkkkkkkkOOkxdoc;;;,,''''..',;::c:;,'......'',;:::;::cdOOOOOOOOkkkkkkkkkkkk
kkxxxxxxxxxxkkkkkkkkkkkkkkkkkkkkkOkkOkkkd:;,'''......',:cc:;,'.......',,;:::::cdOOOOOOOOOOOOOkOOOOOO
xxxxxxxxxxxxkkkkkkxxkkkkkkkkkkOOOOOOOOkkdc:;,'''...',,;loollcc:;,..'',,;:::::loxkOOOOOOOOOOOOkOOOOOO
kxxkkkkkkkkkkkkkkkkkkkkkkkOOOOOOOOOOOOkkdc::::cloooddxkkkOOOOkkxdoc:::::::c::oxkkkOOOOOOOOOOOkOOOOOO
kkkkkkkkkkkkkkkkkkkkkkkkkkkOOOOOOOOOOOkkoccldxkOOkOkkkkkkkkkkkkkkkkxdlc::cc::cdxllkOOOOOOOOOOkOOOOOO
kOOkkkkOOOOkkkkOOOOOkkkOOOOOOOOOOOOOOOkkxoodxkkkxxxxxxxdddxxddxxxxkkkkxdllc::lxd:lkOO0OO0OOOOOOOOOOO
O00OkOOO0OOkkkkO000O000000OOOOOOOOOOOOOkxxxxkkkkkkkkkxxddddddddddxxxxxxxkxl:ldxl:d0K0KK000OOOkOOOOOO
kkkkkkkkkkkkkkkkkOkkOOOOOOkkOOOOO000K00Okkkxxxxxxxxxxxxxdddddxxdddddddddxkxoxxdld0XXXXXXK0OOOOOOOOOO
kkkkkkkkkkxxkkkkkkkkkkkOOOOOOOOOOOOOOOkkxxxxxxxxxxddooddddoooodxxxdoooooddxxkOkxkOOOOOOOOOOOkkkkkkkk
kkkkkkkkkkxxkkkkkkkkkkkOkkkkkOOOOOOkOkkxxxxdddooollooddxxxddooooodddoooooddxOOkdxkO0OOOOOOOOkkOOOOOO
kkxxkkkkkkxxkkkkkkkkkkkkkkkkkkOOOOOOOkkxdddxxxxxxkkkkkxxxxxddddddooooooddddxkkxdoxkOOOOkOOOkkOOOOOOO
kkkkkkkkkkkkkkkkkkkkkkkkkkkkkkOOOOOOOkkkkxxxkkkkkkkkkkkxxxxdoodxddxxdxkkOkkxolodoodxOOOkOOOkkkOOOkkk
kkkkkkkkkkkkkkkkkkkkkkOOkkkkkOOOOOOOOOOOkkxxxxkkkkkkkkkxxxxdoloxxxxxkkOOOkkxllddddoddxkkOOOkkkOOOOOO
kkkkkkkkkkkkkkkkOOkkOOOOOOOkkOOOOOOOOkOOOkkxxxxxxkkkkkkxxxxxxddxkxxkOOOOxxkkkkOOOOOkkOOOOOOOkOOOOOOO
kkkkkkkkkkkkkkkkkkkkkkkkkOOkkOOOOOOOOkkOOOkkxxxxxxxxxxxxxxxxxxkkkkkkOOxolxOOOOOO0O0OOOOOOOOOOOOOOOOO
kkxxkkkkkkxkkkkkkkkkkkkkkkkkkkOkkkkkOkkOkkOOkxxxxxkkxxxddddxkkkkkkOOkdc;cxOOOO00000000OOOOOOkOOOOOOO
xkxxxkkxkkxxkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkkxdxxxxxddoooddxkkkkxxdl:::cxOkkOOOOOOOOOOOOOOkkOOOkkkk
xxxxxxxxxxxxxkxkkkxxkkkkkkkkkkkkkkkkkkkkkkkxolclooooooooooooodddolc:;::::ldxkOOOOOOOOOOOOOOkkOOkkkkk
xxxxxxxxxxxxxkkxkkxxkkkkkkkkxkkkkkkkkkxdl:,...'::cclllllooooooooc:;::::::::coddxkOOOOOOOOOOkkOOOkOOO
xxxxxkkxxxxxxkkkkkkkkkkkkkkkkkkkkkxoc;'..    .,::::;:cooooooool:;::ccc:::::::::,.;oOOOOOOOOkkOOkkkkk
kkxxxkkkkkxxkkkkkkkkkkkkkkkkkxdl:,..         .;c:::::;;::cclc:::ccccccc:::::::,.  .,cxOOOOOkkOkkkkkk
kkxxxkkkkkkkkkkkkkkkkkkkkdoc;'..             .':::::::;,,,,;;::ccccccccc::;'..       .:oxkOkkOkkkkkk
kkkxkkkkkkkkkkkkkkkkkkdl;..                   .':ccccc::;;;;:ccccccccc:,'.             ..;ldkOkkkkkk
kkkkkkkkkkkkkkkkkkkdl;..                       ..',;:cc:::ccclccc:;,'..                   ..;ldkOkkk
kkkkkkkkkkkkkkkkkko,.                              ...''''',''....                           ..;ldkk
kkkkkkkkkxxxkkkkko'.                                                                            ..;l
kkkkkkkkkkxxkkkkl.                                                                                 .
kkkkkkkkkkkkkkko.                                                                                   
kkkkkkkkkkxkkko.                                                                                    
kkkkkkkkkkkkOd'                                                                                     
OOkkkkkkkkkkx;                         .'.                                                          
OOOOOOOOOkkkc.                 ....   'oc.                 .,.                                      
OOOOOOOOOOko.                  .',;..,k0l.  ...          'oo;.                                      
OOOOO00OOOd'            ...;:. ':xd'.;0k;..:ox:.'lxl;:;.,Ok'                                        
000000000k:.         .,;cdldO,,Odo0o.:0l..cKddd':KXxcxo;xKl,c;.                                     
000000000d.          .lxokol0::0oc0x'lKl .xKd:..d0k; ..cKd':0d.   .                                 
