ddol:;,,:cccllodxxxdoollllx0K00OOxdk0klccldkxdolloollolllxkdolccl:;;coc::::;;::;:;:oddkOkxdlcx0kxxdo
ddlcc::::clokOkddddddddxkkO0KKKK000000kxxxxxxkxolcllooolcxOxxdccc::ll::::;;;;::;;:dO0Oxxdlllldxxxxdo
dxolcoxo::cokkxxkOkkxk00OOOOOOOOO00OO00O000000OOxooooodddOOdxkxddookxlll:;:c:;;:lk0kxxxddodxxxdxkkxd
oddxxxkxolodkOOO000OOOOOkkkxxdddxkkkkkkkOO00KKKK0OOOkxkkOOxoddddxxxOkkOkl;:llclxO0kxddxdlooodkkxxxdo
oolooodxxxxOKXK0OOkkxxxxxxdddodddddxxddxxkkOOkOO00KKKKK0Okxdoxxdlclloxkdddddodk0kdoodooloxkkOkxxxkkd
dollcloddodO0KKOkxxxxddddddddddddxxxxxxxxxxxkkkkO0000KKKKOkdooooolclodoloxxdooodxkxoxOkxkOOOOOkxxkdd
xxdlooooddkO0OxdoodoooooooddddddxxxxxxxxkkkkkkkkkOOOOO000Okdooddddoodoccclolc:cloddddxkkxxkkdddooc::
ooooddxkkk00kxdololloooloooddddxxxkkkxxxkkkkkkOkkOOOOOOOO0Oxxkkxdooodooooollc;:ccclollodddddooolc;;;
ccccox0K0O0OkxdollloooooddddddxxxxkkkxxxkkkkkkOOOkOOOOOOO00kdddxkOdcccloolllc::;;lxddxddoolc:::;;,,;
cllldO0000OkddoccclooodddddddxxxxkkkxxxxkkkOOOOOOkkkOOOOOOOkookkdxkxl;;;;;;;:::;;:ccoxd:,,;;,,,,;;,,
ccloxOOOOOkxdl::cloodddddddddxxxxxxxxxxxkkkOOOOOOkkkkkkkOOOOkdddollc:;;;;:::::;;,,,;;;;,,''',,,,,,,,
ldkOOOOkkxdoc::lloodddddddddddxxxxxxxxxxxkkkkkOOkkkkkkkkkkkOOOdllllc:;:;,;:;,,;,,,,'''''',,,;;;;;;;;
dkOkkxddollc::looddddddddddddxxxxxkkxxxddxxkkkkkkkkkOOOOkkkkOOklccllc::;;;;,,,;,'...',,,;;::cc:;;;;,
xkO00Okxoolcccooddddddddddddxxxxxxdoolcc:coodxkkkkOOOOOOOkkkkkOxooooolc:;,,;;,;,,,,,::::::;;:::;;;;,
kkOOOOkdolcccclodddddddddddddddolc;,,;:::cllodddxkOOOOOOOOOOkxxxkkxdddxxddl:;,,,,;;;;:;;;,,,;;;:::;;
dkkOOxxxolc:cclodddddddddddoool:;,,,,;,'',,;coooxkkkOOOOOOOOkkkkkOOOkkO0KOxoc:;,,,,,'''''',;;;;;;;,,
oxkxxxxxdolc:cloddxxddoooodollcc::;,',,.':coodddxkkkOOOOOOOOOkkkkkkOOOOkkkxdl:;;;,,,'''..',;,'''''''
:ldxxxxxdollcloodddolcccccodddddl:;,,;:::cloddxxkkkkOOOOOOOOOOOxoodxkOkdlc;:c::;;,,',,,,,,,,,'.''...
.':lodkkxdolcloolc;,',,;::ldxxkxdlc::::::cloddxxkkkkOOOOOOOO0OOOxooodkOdc:;;;,,,,,,;::;;,'',,,,,'.''
...,;;oxkkxddol;;;;;;,'..';ldxxxddddooooooooddxkkOOOOOOOOOO000OOkxxkxkOkl::;;;,',;cc:;;;,,,,;::;;,,,
....',cxkkkkOOl,::,,,'....,cdxxkxxxxxddooooodddxxkkkOOOOOOOO0000OkkOOOxl:;;;,'..',,,'''',,;;;;,'',,,
;'...'cxkxxx0Xkl:,';::;;;;:odxkkkkkkkxdlccccllooddxxxkkkxkOOO0000OxxOxc;,,,,'......'..'...',''',,;;:
oc;''':xkxxkO00Oo:cllc:::clodxxkOkOkxxxdlccc:ccllooodxkkxdkOOOOO0Okxd:''''''''..''.........'''''',;:
doc,,':kkxxxxx00xlloooooolloddxkOOOOkkOkdoollc::clooooxkxdxOOOOOOOxc,''''''.''''''''.''''...'',,,,,,
ooc;,':OOxxxxxOOdoloddoolccodddxkOOOOkxxddddoolc:;;coooddodkOOOOOOOd;;;;::;,''''''''''''......''''''
ddl;'';k0xxxxxO0xooddooc::codooddxxdollloddxxxdoc:;;lddddodkkOOOOOOko::cc:::;;,'...'',''.....'',;,''
:lo:'';x0xdxxxk0xdddoll:;;cllcclloolccloddxxdol;;:c:cdddoodkkkOOOOOOxc;;;,;;;:;,'''.'''....''',;::;,
;:cc;';xKkdxxxk0kdxollc;;;:cc:::::cclloooddxkxolloolldxdooxkkkOOOOOOOd;,,,,,,,,,,,'''''''...',,,;c:,
:loo;';xKOxxxxx0OxOxcc:;;;;:cclllcccclodxO0OkxdxxxxdodxdodxkkkOOOOOOOko;,,;;,,,,,,,,',,'''...',;:cc;
;:dd:';dOOxxxxxOOdOOoc:;;;;::::cllloddkOOOkdodkkkkxxdxkxddxkkkOOOOO0OOxl;;;;;,,,,,,'''''''''..',;:c:
lldd:,cdxOxdxxxk0OO0koc:::::;,.:odxxxxddddddxkkkkkxxxxkxxxkkkkkkOOOOOOOkolcc;,,',,,',''''',,',,,;:c:
ddddcclokOxdxxdxOxxOxddlccccccc::cloollllllodxkkkxxxxkkkxxkkkkkkOOOOOOOOOkkdl:,,,,,'''',,'''',,,;;,,
ddxdllooxkkxxxdxOkxOkxxdolccclllllcccccccllodxkkkxxxxkkkxxxxxxkkkkOkkOkkkkkkkxddl;,,,,,,,,,,,,;,,,,,
ooddccodxOkdddddkkkOOkkOkxocclllllcccccclooddxxxxkkkkxxxdddddxxxxkkkkkkkkxxxxddl;'',,;,,;;;;;;;;:::;
llddccdkxxkxddddxOO0OxkOO0kolccllllooooooooddxxxxxxxxddoooooooddxxxkkxxkkxdddl,....''..'',,,,,,;;;;;
clodddxxooxdoooodddddlodxxdoddollllooooooooooooooooolllcccllloddxxxxxxxxxddo:'..........''...'''''''
clooddddlldoloolooollccoolccokxollllloolllllllccc::::::::ccloodddxxxxxxddoc'.....................''.
ccloooooccddoooooooccccoolccokxdoooolcc::c:::;;;;;;;;;::clllooddddxxxxddc,.......................'''
cclooooolcdkkOOOkkkkOOxooddooxkdoddooolc:;,,,;;;:::::cllloooooodddddddl;.........................'''
:looollllcxKXXXKKKKKKK0doddoldxoloolloxxdc:::cccccclllooooooooodddddo;...........................''.
lodoollllcxKKXXXXXXXXKXOdoooloxdllllclodxdocccclllloooooooooooodddo:'...............................
looolccllcdKK0KXXXXXKKX0dlooloxdloolcclddddollclllloooooddddddodoc,.................................
:looollllcd0K00KXXXKKKXKkoddloxdloooolooooodolllllooooodddddddo:'...................................
;clllcccccoO0OO0XXXKKKKKOddxolxxoooooooodoooc:llllloooooooool:'.....................................
;:cccccccccxdxO0KKK0O0xlxdlooodooooooooolodc,:ollllllooool:,........................................
cloloolllccc:codxdxdodlcll:cccccllclcc:::cc,,:olllooolc:,...........................................
looolllclcc:;;clllolclc:ccccccllllc;'...,;,''';::::;,'..............................................
cllllcc:c:;,;;::cccccllcccccccccc;....',;,,'........................................................
::;;;;;;:::::::cclllccc:::::c:::,.  .',;;;;,''......................................................
llcccccccccc:;;:cllllclc::::lc:;.   ..'',,,'''''....................................................